body, html {
    background-color: #f6f6f6;
    padding: 10; margin: 5;
    font-family: Verdana;

    width: 200px;
height: 200px;
position: absolute;
top: 0;
bottom: 0;
margin:auto;
left: 0;
right: 0
}

h1 {
	font-family: Arial;
	font-size: 20;
}

#entryBox {

font-family: Helvetica;
	font-size: 20;


}